<ion-view class="distContainer" view-title="Api-Ai">
  <ion-header-bar class="head">
    <div class="row">
      <div class="col co-20" ></div>
      <div class="col col-50 text-center">
        <img src="img/bender.png" >
      </div>
      <div class="col col-20">
        <button on-tap="dash.record()" type="button" class="button button-full button-positive" ng-class="{'button-positive':!dash.isRecording, 'button-assertive':dash.isRecording }"><i class="fa fa-microphone" aria-hidden="true"></i></button>
      </div>
    </div>
  </ion-header-bar>

  <ion-content class="padding ">
    <div class="msgContainer" ng-repeat="message in dash.messages" >
      <div class="row botResp" ng-class="{'fromBot':message.from=='bot' , 'fromMe': message.from=='me'}">
        <div class="resp">
          {{message.text}}

          <button ng-if="message.from=='bot'" class="button button-dark button-small button-outline icon ion-volume-medium" style="margin-left:.5em;" on-tap="dash.reproduceMessage(message.text)">
          </button>

        </div>
      </div>
      <div ng-switch="message.type">
        <div ng-switch-when="office">
          <div class="resp office" ng-include="'templates/offices.html'"></div>
        </div>

        <div ng-switch-when="contacts">
          <div class="resp office" ng-include="'templates/contacts.html'"></div>
        </div>


      </div>


    </div>
  </ion-content>


  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input id="input" ng-model="dash.msg" type="text" placeholder="What do you want" on-return="dash.sendMessage(); dash.closeKeyboard()" on-focus="dash.inputUp()" on-blur="dash.inputDown()" />
    </label>
    <button class="button button-clear" on-tap="dash.sendMessage()">
      <b>Send</b>
    </button>
  </ion-footer-bar>
</ion-view>
