<ion-view view-title="Tutorial" class="onboardingView">
  <ion-header-bar class="headerIcon">
    <h1 class="title">
      <img src="img/icon.png" height="50px">
    </h1>
  </ion-header-bar>
  <ion-content scroll="false">

    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">

          <!-- SLIDE 1 -->
          <div class="row noMargin">
            <div class="list card tutorialCard col col-80 col-offset-10 noPadding">

              <div class="item item-image tutorialImage image1">
                <div class="image1"></div>
                <img src="img/bot_icon.png" class="botIcon">
              </div>

              <div class="item item-body">
                <h2 class="headerSection">
                  Ask what you need
                </h2>
                <span>
                Amadeus is a banking robot that knows how to help you with your accounts and transactions
              </span>
              </div>

            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <!-- SLIDE 2 -->
          <div class="row noMargin">
            <div class="list card tutorialCard col col-80 col-offset-10 noPadding">

              <div class="item item-image tutorialImage">
                <div class="image2"></div>
              </div>

              <div class="item item-body">
                <h2 class="headerSection">
                  Speak or chat
                </h2>
                <span>
                Choose the way that best suites with you to talk to Amadeus and ask him thinks like
              </span>
              </div>

            </div>
          </div>

        </div>

        <div class="swiper-slide">
          <!-- SLIDE 3 -->
          <div class="row noMargin">
            <div class="list card tutorialCard col col-80 col-offset-10 noPadding">

              <div class="item item-image tutorialImage">
                <div class="image3"></div>
              </div>

              <div class="item item-body">
                <h2 class="headerSection">
                  All your bank accounts together
                </h2>
                <span>
                Attach your accounts and aks Amadeus what you need to do.
              </span>
              </div>

            </div>
          </div>

        </div>

        <div class="swiper-slide">
          <!-- SLIDE 4 -->
          <div class="row noMargin">
            <div class="list card tutorialCard col col-80 col-offset-10 noPadding">

              <div class="item item-image tutorialImage">
                <div class="image4"></div>
              </div>

              <div class="item item-body">
                <h2 class="headerSection">
                  Store your tickets
                </h2>
                <span>
                Ask Amadeus to save your tickets in pictures and retrieve them when you need.
              </span>
              </div>

            </div>
          </div>
        </div>
      </div>


      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

    </div>

  </ion-content>

  <ion-footer-bar class="footerButtons">
    <div class="button-bar">
      <button class="button" ui-sref="tab.dash">SIGN UP</button>
      <button class="button" ui-sref="tab.dash">LOG IN</button>
    </div>
  </ion-footer-bar>
</ion-view>
