/*Colors */
body {
  font-family: 'Roboto', sans-serif !important; }

.popupStyle .popup {
  width: 260px !important;
  border-radius: 7px !important;
  border: 1px solid #DCDCDC !important; }
  .popupStyle .popup .popup-head {
    display: none; }
  .popupStyle .popup .popup-body {
    text-align: center; }
    .popupStyle .popup .popup-body h3 {
      font-size: 1.05em;
      color: #000;
      font-weight: 900; }
    .popupStyle .popup .popup-body p {
      font-weight: 400;
      margin-bottom: 5px;
      font-size: 0.95em; }
    .popupStyle .popup .popup-body h4 {
      font-weight: 500;
      margin-bottom: 5px;
      font-size: 1.15em; }
    .popupStyle .popup .popup-body .item-radio .radio-icon {
      color: #7dad03; }
  .popupStyle .popup .popup-buttons {
    border-top: 1px solid #DCDCDC !important;
    min-height: 50px !important;
    padding: 0 !important; }
    .popupStyle .popup .popup-buttons button {
      background-color: transparent !important;
      border: 0;
      color: #014A8C !important; }

.popupStyle.withTitle .popup .popup-head {
  display: block; }
  .popupStyle.withTitle .popup .popup-head h3.popup-title {
    font-size: 1.2em; }

.popupStyle.changeCategory .popup-head {
  display: block !important; }

.bar-footer {
  height: 100px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center; }
  .bar-footer label {
    margin: 0;
    height: 40px;
    margin-right: .8em; }
  .bar-footer input {
    height: 40px; }
  .bar-footer .btnInter {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.4);
    background: #01a4b6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px; }
    .bar-footer .btnInter.micro {
      margin-left: 40px; }
    .bar-footer .btnInter img {
      width: 20px;
      height: 20px; }
  .bar-footer .sendInit {
    overflow: hidden;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.4);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #01a4b6; }
    .bar-footer .sendInit label {
      background: #fff;
      border: 2px solid #ccc; }
    .bar-footer .sendInit.expand {
      background-color: #fff;
      overflow: hidden;
      -webkit-transition: width 1s ease-in-out;
      -moz-transition: width 1s ease-in-out;
      -o-transition: width 1s ease-in-out;
      transition: width 1s ease-in-out;
      border-radius: 5px;
      width: 85%; }

.scroll {
  min-width: 100% !important; }

.row + .row {
  margin: 0 !important; }

.platform-android .bar .title {
  text-align: center !important; }

.bar.bar-stable.bar-footer {
  background-image: none;
  background-color: #fff; }

.login .loginLogo {
  margin: 2em 0em; }
  .login .loginLogo img {
    width: 100%; }

.login .list {
  margin-bottom: 2em; }

.login .padding {
  padding-bottom: 0; }
  .login .padding button {
    background-color: #004589; }

.login .errorLogin {
  color: red; }

.generalChat.has-footer {
  bottom: 90px !important; }

.distContainer .head {
  background-color: #00bad1;
  height: 120px !important;
  border: 0;
  padding-bottom: 0em;
  border-bottom: 1px solid #000;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  flex-direction: column;
  color: #fff; }
  .distContainer .head .fRow {
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    margin-bottom: 1em; }
    .distContainer .head .fRow .amadeusHead {
      width: 100%; }
  .distContainer .head .sRow {
    padding: 0em; }
    .distContainer .head .sRow > div {
      padding-bottom: 1em; }
    .distContainer .head .sRow .isActive {
      border-bottom: 3px solid #fff; }
  .distContainer .head .toggleMenu {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    font-size: 1.2em; }
    .distContainer .head .toggleMenu i {
      font-size: 2.2em;
      margin-right: .5em; }
  .distContainer .head .info {
    font-size: 2.5em; }

.distContainer .has-header {
  top: 110px !important; }

.distContainer .bar {
  background-image: none; }

.distContainer .msgContainer {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center; }
  .distContainer .msgContainer .chatContainer {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center; }

.distContainer .chat.fromMe {
  justify-content: flex-end;
  text-align: right; }
  .distContainer .chat.fromMe .usrImg {
    width: 30px;
    height: 30px;
    margin-left: .2em;
    border-radius: 50px; }
  .distContainer .chat.fromMe .resp {
    background: #00bad1;
    border: 1px solid #00bad1;
    color: #fff;
    border-radius: 20px 20px 0px; }

.distContainer .chat.fromBot {
  justify-content: flex-start; }
  .distContainer .chat.fromBot .botImg {
    width: 30px;
    height: 30px;
    margin-right: .2em;
    border-radius: 50px; }
  .distContainer .chat.fromBot .resp {
    background: #eceff1;
    border: 1px solid #eceff1;
    border-radius: 20px 20px 20px 0px; }
    .distContainer .chat.fromBot .resp .wide-as-needed {
      overflow: scroll;
      white-space: nowrap; }

.distContainer .chat .resp {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  padding: .7em 1.5em;
  margin: .7em 0em;
  border-radius: 20px;
  background-color: #fff; }

.distContainer .scrollContainer {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: row; }
  .distContainer .scrollContainer .officeCard {
    margin: 0 .5em;
    width: 230px;
    border-radius: 10px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center; }
    .distContainer .scrollContainer .officeCard .mapHeight {
      width: 100%;
      height: 180px; }

.distContainer .toggleCont {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center; }
  .distContainer .toggleCont label {
    margin: 0 .2em;
    color: #000; }

.exchange {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center; }
  .exchange img {
    height: 70px;
    margin: 0 .5em; }

.recordPopup {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end; }
  .recordPopup .popup {
    width: 100% !important;
    height: 350px; }
    .recordPopup .popup .popup-head {
      display: none; }
    .recordPopup .popup .recordContainer .fRecord {
      margin: 0 !important; }
      .recordPopup .popup .recordContainer .fRecord .waveImg {
        width: 100%; }
    .recordPopup .popup .recordContainer .row {
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      justify-content: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      flex-direction: column; }
    .recordPopup .popup .recordButtons .popup-buttons {
      width: 100%;
      position: absolute;
      margin-top: 60px; }
      .recordPopup .popup .recordButtons .popup-buttons .col {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        -webkit-box-align: center; }
        .recordPopup .popup .recordButtons .popup-buttons .col.btnTrash {
          justify-content: flex-end !important;
          -webkit-justify-content: flex-end !important;
          -webkit-box-pack: flex-end !important; }
        .recordPopup .popup .recordButtons .popup-buttons .col.btnTrash {
          justify-content: flex-start;
          -webkit-justify-content: flex-start;
          -webkit-box-pack: flex-start; }
      .recordPopup .popup .recordButtons .popup-buttons .button {
        flex: 0 !important;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        background: #f4f4f4;
        margin: 0 1em;
        -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.4); }
        .recordPopup .popup .recordButtons .popup-buttons .button.button-positive {
          background: #01a4b6; }
        .recordPopup .popup .recordButtons .popup-buttons .button i {
          font-size: 1.5em; }
        .recordPopup .popup .recordButtons .popup-buttons .button .ion-trash-b {
          color: #cdcdcd; }
